<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Events</h1>
    <ul>
        {% for event in events %}
            <li style="display: flex; flex-direction: row; gap: 15px; margin: 15px; justify-content: center">
                <p>Num: {{ event.num }}</p>
                <p>Sensor_type: {{ event.Sensor_type}}</p>
                <p>Name: {{ event.name}}</p>
                <p>Temperature: {{ event.temperature}}</p>
                <p>Humidity: {{ event.humidity}}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>